<mat-accordion multi>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Base Criteria
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
        <mat-list>
            <mat-list-item>
                <b>Label:</b>&nbsp;Country
            </mat-list-item>
            <mat-list-item>
                <b>Name:</b>&nbsp;country
            </mat-list-item>
            <mat-list-item>
                <b>Operator:</b>&nbsp;=
            </mat-list-item>
            <mat-list-item>
                <b>Value:</b>&nbsp;United States
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                User Criteria
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card>
            <mat-form-field>
                <mat-label>Saved User Filters</mat-label>
                <mat-select>
                    <mat-option value="Filter 1">Filter 1</mat-option>
                    <mat-option value="Filter 2">Filter 2</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-icon-button matTooltip="Save Filters Preset">
                <mat-icon>add_box</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Rename Filter Preset">
                <mat-icon>create</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Delete Filter Preset">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card>
        <mat-card>
            <form [formGroup]="criteriaForm">
                <div *ngFor="let field of criteria" >
                    <mat-form-field class="example-chip-list" style="width:300px;display:block;">
                        <mat-chip-list #chipList aria-label="Field selection" [formControlName]="field.label">
                            <mat-chip *ngFor="let value of criteriaForm.controls[field.label].value" [selectable]="selectable" [removable]="removable"
                                (removed)="remove(value,field.label)">
                                {{value}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input [placeholder]="field.label" [matAutocomplete]="auto"
                                [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                (matChipInputTokenEnd)="add($event, field.label)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event, field.label)">
                            <mat-option *ngFor="let value of field.values" [value]="value[0]">
                                {{value[0]}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Operator</mat-label>
                        <mat-select>
                            <mat-option value="=">=</mat-option>
                            <mat-option value="<>">&lt;&gt;</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
    
            </form>
            </mat-card>
    </mat-expansion-panel>
</mat-accordion>