<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Details</ng-template>
            <h3>
                Name your dashboard and provide a brief description that will help you easily idenitify it. For example,
                "My Orders by Status" You can make any dashboard your default view
            </h3>
            <div class="details">
                <mat-form-field>
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="firstCtrl" placeholder="Enter Title" required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Enter Description"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Select</mat-label>
                    <mat-select>
                        <mat-option value="option">Cats</mat-option>
                        <mat-option value="option">Dogs</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-checkbox>Active</mat-checkbox>
            </div>
            <mat-toolbar>
                <span class="example-spacer"></span>
                <button mat-button matStepperNext>
                    Next
                    <mat-icon>navigate_next</mat-icon>
                </button>
            </mat-toolbar>
        </form>
    </mat-step>
    <mat-step>
            <ng-template matStepLabel>Filters</ng-template>
            <h3>
                Add filtering criteria to customize your dashboard. This will allow you to show only the order you want
                by the information you want to see first.
            </h3>
            <mat-toolbar>
                <span>Filters</span>
                <span class="example-spacer"></span>
                <button mat-raised-button>
                    <mat-icon>add_box</mat-icon>
                    Add
                </button>
            </mat-toolbar>
            <div class="example-container mat-elevation-z8">
                <mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-icon-button aria-label="">
                            <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="">
                            <mat-icon>create</mat-icon>
                            </button>
                    </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="condition">
                        <mat-header-cell *matHeaderCellDef> Condition </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.condition}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="operator">
                        <mat-header-cell *matHeaderCellDef> Operator </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.operator}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="fieldLabel">
                        <mat-header-cell *matHeaderCellDef> Field Label </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.fieldLabel}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="fieldName">
                        <mat-header-cell *matHeaderCellDef> Field Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.fieldName}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="criteria">
                        <mat-header-cell *matHeaderCellDef> Criteria </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.criteria}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="filterType">
                        <mat-header-cell *matHeaderCellDef> Filter Type </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.filterType}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="from">
                        <mat-header-cell *matHeaderCellDef> From </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.from}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="to">
                        <mat-header-cell *matHeaderCellDef> To </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.to}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="value">
                        <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns1;"></mat-row>
                </mat-table>
            </div>
            <mat-toolbar>
                <span>Results</span>
                <span class="example-spacer"></span>
            </mat-toolbar>
            <div class="example-container2 mat-elevation-z8">
                <mat-table [dataSource]="dataSource2">
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>
                    <!-- Weight Column -->
                    <ng-container matColumnDef="weight">
                        <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol">
                        <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
                </mat-table>
            </div>
            <mat-toolbar>
                <span class="example-spacer"></span>
                <button mat-button matStepperPrevious>
                    <mat-icon>navigate_before</mat-icon>
                    Back
                </button>
                <button mat-button matStepperNext>
                    Next
                    <mat-icon>navigate_next</mat-icon>
                </button>
            </mat-toolbar>
    </mat-step>
    <mat-step>
            <ng-template matStepLabel>Charts</ng-template>
            <h3>
                Add Charts to visualize your filter Results.
            </h3>
            <mat-toolbar>
                <span>Charts</span>
                <span class="example-spacer"></span>
                <button mat-raised-button>
                    <mat-icon>add_box</mat-icon>
                    Add
                </button>
            </mat-toolbar>
            <div class="example-container3 mat-elevation-z8">
                <mat-table [dataSource]="dataSource3">
                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-icon-button aria-label="">
                            <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="">
                            <mat-icon>create</mat-icon>
                            </button>
                    </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="type">
                        <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="dataSource">
                        <mat-header-cell *matHeaderCellDef> Data Source </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.dataSource}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="fieldLabel">
                        <mat-header-cell *matHeaderCellDef> Field Label </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.fieldLabel}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="fieldName">
                        <mat-header-cell *matHeaderCellDef> Field Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.fieldName}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="facetQuery">
                        <mat-header-cell *matHeaderCellDef> Facet Query</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.facetQuery}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="facetField">
                        <mat-header-cell *matHeaderCellDef> Facet Field </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.facetField}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="seriesData">
                        <mat-header-cell *matHeaderCellDef> Series Data </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.seriesData}} </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns3; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns3;"></mat-row>
                </mat-table>
            </div>
            <mat-toolbar>
                <span class="example-spacer"></span>
                <button mat-button matStepperPrevious>
                    <mat-icon>navigate_before</mat-icon>
                    Back
                </button>
                <button mat-button matStepperNext>
                    Next
                    <mat-icon>navigate_next</mat-icon>
                </button>
            </mat-toolbar>
    </mat-step>
    <mat-step [stepControl]="forthFormGroup" [editable]="isEditable">
            <ng-template matStepLabel>User Criteria</ng-template>
            <h3>
                Select additional filtering options to appear on your dashboard. This will allow you to further refine
                you dashboard view.
            </h3>
            <mat-toolbar>
                <span>User Criteria</span>
                <span class="example-spacer"></span>
                <button mat-raised-button>
                    <mat-icon>add_box</mat-icon>
                    Add
                </button>
            </mat-toolbar>
            <div class="example-container4 mat-elevation-z8">
                <mat-table [dataSource]="dataSource4">
                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-icon-button aria-label="">
                            <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="">
                            <mat-icon>create</mat-icon>
                            </button>
                    </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="fieldLabel">
                        <mat-header-cell *matHeaderCellDef> Field Label </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.fieldLabel}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="fieldName">
                        <mat-header-cell *matHeaderCellDef> Field Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.fieldName}} </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns4; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns4;"></mat-row>
                </mat-table>
            </div>
            <mat-toolbar>
                <span class="example-spacer"></span>
                <button mat-button matStepperPrevious>
                    <mat-icon>navigate_before</mat-icon>
                    Back
                </button>
                <button mat-button matStepperNext>
                    Next
                    <mat-icon>navigate_next</mat-icon>
                </button>
            </mat-toolbar>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Save</ng-template>
        <h3>
            Your dashboard has beeen created and added as a menu item to the Dashboards pulldown. You have the option to archive this dashboard at anytime. See the Wiki for managing Dashboards
        </h3>
        <div class="save">
            <p>You are now done.</p>
        </div>
        <mat-toolbar>
            <span class="example-spacer"></span>
            <button mat-button matStepperPrevious>
                <mat-icon>navigate_before</mat-icon>
                Back
            </button>
            <button mat-button (click)="stepper.reset()">
                <mat-icon>undo</mat-icon>
                Reset
            </button>
            <button mat-button matStepperNext>
                <mat-icon>save</mat-icon>
                Save
            </button>
        </mat-toolbar>
    </mat-step>
</mat-horizontal-stepper>