<mat-card>
    <label id="field1">Date Format: </label>
    <mat-radio-group class="example-radio-group" aria-labelledby="field1">
        <mat-radio-button class="example-radio-button" value="1">MM-DD-YYYY</mat-radio-button>
        <mat-radio-button class="example-radio-button" value="2">DD-MM-YYYY</mat-radio-button>
        <mat-radio-button class="example-radio-button" value="2">YYYY-MM-DD</mat-radio-button>
    </mat-radio-group>
</mat-card>
<mat-card>
    <label id="field2">Number Format: </label>
    <mat-radio-group class="example-radio-group" aria-labelledby="field2">
        <mat-radio-button class="example-radio-button" value="0,000.00">0,000.00</mat-radio-button>
        <mat-radio-button class="example-radio-button" value="0.000,00">0.000,00</mat-radio-button>
    </mat-radio-group>
</mat-card>