.container {
    height: calc(100vh - 195px);
    overflow: auto;
}

mat-table {
    width: 100%;
}

.example-spacer {
    flex: 1 1 auto;
}

th.mat-column-actions, td.mat-column-actions {
    width:150px;
}
button.mat-raised-button, mat-form-field {
    margin-right:8px;
}