<mat-toolbar>
  <span>Dasboards</span>
  <span class="example-spacer"></span>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  <button mat-raised-button class="example-icon" routerLink="/admin/create" matTooltip="Create New Dashboard">
    <mat-icon>add_box</mat-icon>
    <span>Add</span>
  </button>
  <button mat-raised-button matTooltip="Refresh Dashboards">
    <mat-icon>restore_page</mat-icon>
      Refresh
  </button>
  <button mat-raised-button class="example-icon" matTooltip="Delete All Dashboards">
    <mat-icon>delete_sweep</mat-icon>
    <span>Delete All</span>
  </button>
</mat-toolbar>
<div class="container">
  <mat-table [dataSource]="dataSource" cdkDropList cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)">
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button [routerLink]="[{ outlets: { popup: ['delete'] } }]" matTooltip="Delete Dashboard">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button routerLink="/admin/edit" matTooltip="Edit Dashboard">
        <mat-icon>create</mat-icon>
      </button>
      <button mat-icon-button [routerLink]="[{ outlets: { popup: ['clone'] } }]" matTooltip="Clone Dashboard">
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="position">
    <mat-header-cell cdkDrag *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell cdkDrag *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="weight">
    <mat-header-cell cdkDrag *matHeaderCellDef> Weight </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="symbol">
    <mat-header-cell cdkDrag *matHeaderCellDef> Symbol </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns;"></mat-row>
</mat-table>
</div>