<mat-drawer-container class="container">
    <mat-drawer style="width: 400px;" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
        (closed)="events.push('close!')">
        <app-criteria></app-criteria>
    </mat-drawer>
    <mat-drawer-content>
        <div fxLayout="column" fxLayoutAlign="start start" fxFill>
            <div fxFlex="grow" fxFill>
                <mat-toolbar>
                    <span>Cats Dashboard</span>
                    <span class="example-spacer"></span>
                    <button mat-raised-button (click)="sidenav.toggle()">
                        <mat-icon *ngIf="opened">close_fullscreen</mat-icon>
                        <mat-icon *ngIf="!opened">open_in_full</mat-icon>
                        Toggle
                    </button>
                    <button mat-raised-button matTooltip="Refresh Dashboard Charts">
                        <mat-icon>restore_page</mat-icon>
                        Refresh
                    </button>
                </mat-toolbar>
                <app-charts></app-charts>
                <app-results></app-results>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>