<h2 mat-dialog-title>Settings Manager</h2>
<mat-dialog-content>
    <mat-tab-group selectedIndex="0">
        <mat-tab label="Preferences">
            <app-preferences></app-preferences>
        </mat-tab>
        <mat-tab label="Solr Indexes">
            <app-solr-indexes></app-solr-indexes>
        </mat-tab>
        <mat-tab label="Display">
            <app-display></app-display>
        </mat-tab>
      </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>